<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <% if(flashMsg.error) { %>
    <div class="flash flash__error"><%= flashMsg.error %></div>
    <% } %>
    <form class="login-form" action="/newpwd" method="POST">
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="form-control">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword">
      </div>
      <input type="hidden" name="id" value="<%= user_id %>">
      <input type="hidden" name="token" value="<%= token %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn" type="submit">Update Password</button>
    </form>
  </main>
<%- include('../includes/end.ejs') %>
