<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%- include('../includes/nav.ejs') %>
  <% if(flashMsg.error) { %>
  <div class="flash flash__error"><%= flashMsg.error %></div>
  <% } %>
  <% if(flashMsg.success) { %>
  <div class="flash flash__success"><%= flashMsg.success %></div>
  <% } %>
  <main>
    <% if(products.length > 0) { %>
      <div class="grid">
        <% products.forEach(prod => { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title"><%= prod.title %></h1>
            </header>
            <div class="card__image">
              <img src="<%= prod.image_url %>" alt="<%= prod.title %>">
            </div>
            <div class="card__content">
              <h2 class="product__price">$ <%= prod.price %></h2>
              <p class="product__description"><%= prod.description %></p>
            </div>
            <div class="card__actions">
              <a href="/admin/edit-product/<%= prod._id %>?edit=true" class="btn">Edit</a>
              <form action="/admin/delete-product" method="post"  onClick="return confirm('Are you sure?');">
                <input type="hidden" name="id" value="<%= prod._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn">Delete</button>
              </form>

              <!-- Button for sending async request to delete item and updating the DOM directly -->
              <!-- <input type="hidden" name="id" value="<%= prod._id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="button" class="btn" onclick="deleteProduct(this)">Delete</button> -->
            </div>
          </article>
        <% }) %>
      </div>
      <%- include('../includes/pagination.ejs') %>
    <% } else { %>
      <h1>No Products Found!</h1>
    <% } %>
  </main>
  <!-- <script src="/js/admin.js"></script>  // client-side script for async request -->
<%- include('../includes/end.ejs') %>
